	{% extends "base.html.twig" %}

	{% block body %}
		<form action="{{ path('security_login') }}" method="post">

			<div class="modal-dialog" role="document">
				<div class="modal-content form-elegant">
					<div class="modal-header text-center">
						<h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
							<strong>S'inscrire</strong>
						</h3>
						<a href="{{ path('home') }}">
							<span aria-hidden="true">
								<i class="fas fa-home"></i>
							</span>
						</a>
					</div>
					<div class="modal-body mx-4">


						<div class="md-form mb-5">
							<label data-error="wrong" data-success="right" for="Form-e">E-mail</label>
							<input type="mail" id="form-email" class="form-control" required name="_username">
						</div>
						<div class="md-form mb-5">
							<label data-error="wrong" data-success="right" for="Form-t">Mot de passe</label>
							<input type="mail" id="form-email" class="form-control" required name="_password">
						</div>

						<div class="text-center mb-3">
							<button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">S'inscrire</button>
						</div>
						<p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
							ou Connectez-vous avec:
						</p>
						<div
							class="row my-3 d-flex justify-content-center">
							<!--Facebook-->
							<button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a">
								<i class="fab fa-facebook-f text-center"></i>
							</button>
							<!--Twitter-->
							<button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a">
								<i class="fab fa-twitter"></i>
							</button>
							<!--Google +-->
							<button type="button" class="btn btn-white btn-rounded z-depth-1a">
								<i class="fab fa-google-plus-g"></i>
							</button>
						</div>
					</div>
				</div>
				<!--/.Content-->
			</div>
		</form>

	{% endblock %}
