{% extends 'base.html.twig' %}

{% block body %}
	<h1>Modifier catégorie</h1>

	{{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
	{{ include('category/_delete_form.html.twig') }}
{% endblock %}
