{% extends 'base.html.twig' %}
{% block title %}New Category
{% endblock %}

{% block body %}
	<h1>Nouvelle catégorie
	</h1>
	{{ include('category/_form.html.twig') }}
	{# 
						<button type="reset" class="btn-save btn btn-default btn-sm btn-rounded">
							<i class="fas fa-ban"></i>
						</button> #}

{% endblock %}

{% block script %}
	<script></script>

{% endblock %}
