{% extends 'base.html.twig' %}

{% block title %}New Caddy{% endblock %}

{% block body %}
    <h1>Create new Caddy</h1>

    {{ include('caddy/_form.html.twig') }}

    <a href="{{ path('caddy_index') }}">back to list</a>
{% endblock %}
